.main-home-card-container{
cursor: pointer;
height: 520px;
width: 45.5%;
background: #fff;
box-shadow: 0 30px 60px rgba(213,215,225,.489811);
border-radius: 20px;
cursor: pointer;
background: #fff;
margin: 36px 0;
padding: 8px 0; 

margin-left: 16px;
display: flex;
justify-content: center;
}
.main-home-card{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
margin: 16px 0; 
margin-top: 16px;
}

.card-logo{
height: 30px;
background: #fff;
 display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.logo-img {
    width: 100px;
    height: auto !important;
}
.logo-img img  {

    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-name {
    margin: auto 4px auto 2px;
    border-radius: 5px;
    height: auto;
    padding: 0 .5rem;
    background: linear-gradient(90deg,#239bfb .02%,#26a9fb 30.84%,#2ecdfc
     88.7%,#30d5fc 100.02%);
}
 .main-home-card .headings{

 }
.main-home-card p {
cursor: pointer;
font-size: 24px;
line-height: 36px;
height: 40px;
letter-spacing: -.85px;
color: #fff;
text-align: center;
margin: auto;
font-weight: 800;

}
.clases{
    font-weight: 500;
    font-size: 20px;
    height: fit-content;
    color: #616978;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.headings{
    margin: 20px auto;

}

/* card img */
.card-img {
    overflow: hidden;
    object-fit: contain;
}
.card-img img {
   height: 100%;
   width: 100%;
}
@media screen and (max-width:767px){
    .main-home-card-container{
        width: 100%;
        height: 324px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .main-home-card .headings {
        font-size: 20px;
        line-height: 27px;
        margin-top:15px;
        margin: 15px auto;
    }
    .card-name{
        font-size: 16px;
        line-height: 24px;
        height: 24px;
    }
    
    .clases{
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 21px;
    }
}

@media screen and (max-width:567px){
    .main-home-card-container{
        width: 100%;
        height: auto !important;
        margin: 10px 0px !important;
        border-radius: 10px;
    }
    .main-home-card .headings {
        font-size: 15px ;
        line-height: 27px;
        margin-top:15px;
        margin: 10px auto;
    }
    .card-name{
        font-size: 15px;
        line-height: 24px;
        height:auto !important;
    }
    
    .clases{
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 5px;
    }
    .card-img{
    }
.card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
}